#menuButton {
	margin-right: 16px;
}

#userImage {
	border-radius: 2px;
}

#trackingMenuContainer {
		position: fixed;
		left: 50%;
		bottom: 2%;
}

#trackingMenuContainer > md-card {
	position: relative;
	left: -50%;
	overflow-y: hidden;
}

#trackingBar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

#displayButtons {
	position: absolute;
	right: 2%;
	bottom: 2%;
}
