<div class='box'>
	<md-toolbar class='row header' color='primary'>
		<button md-icon-button id='menuButton' (click)='nav.toggle()'>
			<md-icon>menu</md-icon>
		</button>￼
		<app-home-button></app-home-button>
	</md-toolbar>
	<md-sidenav-container class='box'>
		<md-sidenav #nav mode='side'>
			<span>Beacon size</span>
         <md-slider min='5' max='75' step='1' [value]='beaconRadius' (input)='beaconRadius=$event.value' color='primary'></md-slider>
		</md-sidenav>
		<app-map #map></app-map>
	</md-sidenav-container>
</div>

<div id='selectedContainer'>
	<md-card *ngIf='currentlySelected'>
		<md-input-container class='full-width'>
			<input mdInput placeholder="UUID" [(ngModel)]='currentUUID' [disabled]='currentlySelected.committed'>
		</md-input-container>
		<div class='full-width'>
			<md-input-container>
				<input mdInput placeholder="X" [(ngModel)]='currentX'>
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Y" [(ngModel)]='currentY'>
			</md-input-container>
		</div>
	</md-card>
</div>

<div *ngIf='!currentlySelected' id='confirmButtons'>
	<button md-fab color='primary' (click)='addBeacon()'><md-icon>add</md-icon></button>
</div>

<div *ngIf='currentlySelected' id='confirmButtons'>
	<button md-fab color='primary' (click)='applyChanges()'><md-icon>check</md-icon></button>
	<button md-fab color='accent' (click)='revertChanges()'><md-icon>undo</md-icon></button>
	<button *ngIf='currentlySelected.committed' md-fab color='warn' (click)='deleteBeacon()'><md-icon>clear</md-icon></button>
</div>
