<div class='box'>
   <md-toolbar class='row header' color="primary">
      <span>Toolbar</span>
   </md-toolbar>

   <div id='canvasDiv' #canvasDiv class='full-height row content'>
         <canvas #myCanvas id='canvas' (window:resize)='resizeCanvas($event);'
         (mousedown)='canvasMouseDown($event);'
         (mousemove)='canvasMouseMove($event);'
         (mouseup)='canvasMouseUp($event);'
         (scroll)='console.log("HEY");'>
      </canvas>
      <!--<app-filter #filter (showBeaconsChange)='toggleBeacons($event);'></app-filter>-->
   </div>
</div>
