md-sidenav-container {
   height: 100%;
}
md-checkbox {
   display: block;
   margin-bottom: 15px;
   margin-right: 100px;
}

/*md-sidenav {
   padding: 35px;
   padding-right: 150px;
}*/
md-sidenav {
   padding: 25px;
}

md-slider {
   width: 100%;
}

:host {
   font-family: Roboto,"Helvetica Neue",sans-serif
}
