:host {
   font-family: Roboto,"Helvetica Neue",sans-serif
}

md-sidenav-container {
   height: 100%;
}
md-checkbox {
   display: block;
   margin-bottom: 15px;
   margin-right: 100px;
}

md-sidenav {
   padding: 25px;
}

md-slider {
   width: 100%;
}
